:root {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

body {
  text-align: center;
}
.hero {
  font-family: "DM Serif Display", serif;
  margin: 80px;
  background: rgba(49, 172, 255, 0.274);
  padding: 20px 40px;
}
h1 {
  font-size: 60px;
}
h3 {
  font-size: 30px;
}

.head-painter {
}
.index-links {
  display: flex;
  justify-content: space-evenly;
  color: black;
  font-size: 20px;
  font-weight: normal;
}

.info-home {
  line-height: 40px;
  text-align: justify;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px 40px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
.index-blue {
  height: auto;
  max-width: 30%;
}

.home-img {
  padding-top: 25px;
  padding-bottom: 25px;
}

.about-links {
  color: aqua;
}

img {
  box-shadow: var(--box-shadow);
}
.about-content {
  padding: 25px;
  margin: 0 auto;
}
.figure-about {
  max-width: 90%;
  padding: 20px;
}
.about-info {
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 493px) {
  .hero {
    padding: 10px 0;
    margin: 0 auto;
  }
  .info-home {
    padding: 10px;
    margin: 25px;
    justify-content: right;
  }

  .index-blue {
    max-width: 80%;
  }
  .about-head {
    padding-top: 50px;
  }
  .head-painter {
    padding-top: 50px;
  }
  .about-info {
    padding: 10px;
    margin-top: 20px;
  }
  .art-head {
    padding: 50px;
  }
  .image-grid {
  }
}
.art-head {
  margin-top: -30px;
  font-family: "Markazi Text", serif;
  font-size: 50px;
}
.image-grid {
  color: rgba(47, 58, 58, 0.692);
  margin-top: -80px;
  padding: 100px;
  font-family: "Markazi Text", serif;
}

h6 {
  font-size: 30px;
}

/* font-family: "DM Serif Display",
  serif; font-family: "Markazi Text",
  serif; font-family: "Ubuntu",
  sans-serif;*/ ;
